.mainbox{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Russian_Air_Force_Su-34.jpg/280px-Russian_Air_Force_Su-34.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    position: relative;
}
.mainbox div{
    opacity: 60%;
    width:500px;
    color: white;
    position: absolute;
    top: 45%;
    background-color: black;
}
.mainbox h1{
    position: absolute;
    top: 50%;
}
